<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Cities temperature</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Cities temperature</h1>

      <div
        class="alert alert-danger collapse mt-4"
        role="alert"
        id="alert"
      ></div>

      <div class="input-group mt-4">
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary"
            type="button"
            onclick="addCity()"
          >
            Add city
          </button>
        </div>

        <input
          type="text"
          class="form-control"
          placeholder="City name"
          id="newCity"
        />
      </div>

      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Temperature</th>
            <th scope="col">Sunrise</th>
            <th scope="col">Sunset</th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>

    <script>
      const props = ["name", "temp", "sunrise", "sunset"];

      let cities = new Set(["Porto", "Aveiro", "Lisboa"]);

      let data = [];

      function addCity() {
        const newCity = $("#newCity").val();
        cities.add(newCity);
        loadData();
      }

      function loadTable() {
        const table = $("#tableBody")[0];
        table.innerHTML = "";
        data.forEach((item, index) => {
          let row = table.insertRow();
          let count = row.insertCell(0);
          count.innerHTML = index + 1;

          props.forEach((prop_name, prop_i) => {
            let cell = row.insertCell(prop_i + 1);
            cell.innerHTML = item[prop_name];
          });
        });
      }

      function loadData() {
        $("#alert").hide();

        axios
          .get("/cities/" + Array.from(cities).join())
          .then(function (response) {
            data.length = 0;
            cities = new Set();
            for (const city of response.data) {
              if (city.temp) {
                data.push(city);
                cities.add(city.name);
              } else {
                $("#alert").html(
                  "City name <b>" + city.name + "</b> is not valid."
                );
                $("#alert").show();
              }
            }
            loadTable();
          })
          .catch(function (error) {
            console.log(error);
          });
      }

      loadData();
    </script>
  </body>
</html>
