<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Cities temperature</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <style>
      th {
        cursor: pointer;
      }
    </style>

    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/Chart.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Cities temperature</h1>

      <div class="input-group mt-4">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" id="addCityBtn">
            Add city
          </button>
        </div>

        <input
          type="text"
          class="form-control"
          placeholder="City name"
          id="newCity"
        />
      </div>

      <div
        class="alert alert-danger collapse mt-4"
        role="alert"
        id="alert"
      ></div>

      <canvas id="barChart" class="mt-4"></canvas>

      <table class="table mt-4" id="citiesTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Temperature &#8451;</th>
            <th scope="col">Sunrise</th>
            <th scope="col">Sunset</th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>

    <script src="home.js"></script>
  </body>
</html>
