<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Cities temperature</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <style>
      th {
        cursor: pointer;
      }
    </style>

    <script src="/js/axios.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/Chart.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Cities temperature</h1>

      <div class="input-group mt-4">
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary"
            type="button"
            onclick="addCity()"
          >
            Add city
          </button>
        </div>

        <input
          type="text"
          class="form-control"
          placeholder="City name"
          id="newCity"
        />
      </div>

      <div
        class="alert alert-danger collapse mt-4"
        role="alert"
        id="alert"
      ></div>

      <canvas id="barChart" class="mt-4"></canvas>

      <table class="table mt-4" id="citiesTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Temperature &#8451;</th>
            <th scope="col">Sunrise</th>
            <th scope="col">Sunset</th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>

    <script>
      const columnsName = ["name", "temp", "sunrise", "sunset"];
      let sortColIndex = 0;
      let ascending = true;

      let citiesNames = new Set(["Porto", "Aveiro", "Lisboa"]);
      let citiesData = [];

      let barChartData = {
        labels: [],
        datasets: [
          {
            label: "Temperature ℃",
            backgroundColor: "rgba(255, 99, 132, 0.5)",
            borderColor: "rgb(255, 99, 132)",
            borderWidth: 1,
            data: [],
          },
        ],
      };

      function addCity() {
        const newCity = $("#newCity").val();
        citiesNames.add(newCity);
        requestData();
      }

      function loadData() {
        // Reset
        const table = $("#tableBody")[0];
        table.innerHTML = "";

        barChartData.labels.length = 0;
        barChartData.datasets[0].data.length = 0;

        // Sort
        citiesData.sort((a, b) =>
          a[columnsName[sortColIndex]] > b[columnsName[sortColIndex]] ? 1 : -1
        );

        if (!ascending) citiesData.reverse();

        // Load
        citiesData.forEach((city, index) => {
          barChartData.labels.push(city.name);
          barChartData.datasets[0].data.push(city.temp);

          let row = table.insertRow();

          columnsName.forEach((column, columnIndex) => {
            let cell = row.insertCell(columnIndex);
            cell.innerHTML = city[column];
          });
        });

        window.myBar.update();
      }

      function requestData() {
        $("#alert").hide();

        axios
          .get("/cities/" + Array.from(citiesNames).join())
          .then(function (response) {
            citiesData.length = 0;
            citiesNames = new Set();
            for (const city of response.data) {
              if (city.valid) {
                citiesData.push(city);
                citiesNames.add(city.name);
              } else {
                $("#alert").html(
                  "City name <b>" + city.name + "</b> is not valid."
                );
                $("#alert").show();
              }
            }
            loadData();
          })
          .catch(function (error) {
            console.log(error);
          });
      }

      window.onload = function () {
        // Create Bar Chart
        var ctx = $("#barChart")[0].getContext("2d");
        window.myBar = new Chart(ctx, {
          type: "bar",
          data: barChartData,
          options: {
            responsive: true,
            legend: {
              position: "top",
            },
            scales: {
              yAxes: [
                {
                  ticks: {
                    suggestedMin: 0,
                  },
                },
              ],
            },
          },
        });

        // Add click event on table headers to sort
        const table = document.getElementById("citiesTable");
        const headers = table.querySelectorAll("th");

        [].forEach.call(headers, function (header, index) {
          header.addEventListener("click", function () {
            sortColIndex = index;
            ascending = !ascending;
            loadData();
          });
        });

        // Request initial data
        requestData();
      };
    </script>
  </body>
</html>
